[Unit]
Description=Universal Emacs Headless Server ({{ emacs_flavor }})
Documentation=man:emacs(1)

[Service]
Type=notify
# This safe buffer ensures environment variables are populated regardless of desktop
ExecStartPre=/usr/bin/sleep {{ emacs_start_delay_sec | default(4) }}
ExecStart={{ emacs_binary | default("/usr/bin/emacs") }} --fg-daemon
ExecStop={{emacsclient_binary | default("/usr/bin/emacsclient") }} --eval "(kill-emacs)"
Restart=on-failure

[Install]
# default.target activates when your user logs into ANY environment
WantedBy=default.target
